<!DOCTYPE html>
<html lang="en">
<head>
  <title>Report Monitor</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Reports for user {{ user['_id'] }}</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Timestamp</th>
        <th>IP</th>
        <th>Location</th>
        <th>Type</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
    {% for report in user["reports"] %}
        <tr>
            <td>{{ report["ts"] }}</td>
            <td>{{ report["ip"] }}</td>
            <td>{{ escape(report["loc"]) }}</td>
            <td>{{ escape(report["type"]) }}</td>
            <td>{{ json_encode(report["data"]) }}</td>
        </tr>
    {% end %}
    </tbody>
  </table>
</div>

</body>
</html>
